body {
  background-color: #222;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body h3 {
    margin: 0 0 1.5rem 0; }
  body code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }
